body {
    background-color:rgb(10, 10, 10);
    color:rgb(255, 255, 255);
    font-family: monospace;
    font-size: large;
}

table, th, td, div {
    border: 1px solid white;
}

.centertext {
    text-align: center;
}

.centercontents {
    margin: auto;
    width: 50%;
}

.bgcolor1 {
    background-color:rgb(39, 39, 39);
}

.bgcolor2 {
    background-color: white;
}

.rounded_corners {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}